
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="product">
          <img src="https://images.unsplash.com/photo-1595144780677-6d0b5abbd089?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FrZSUyMHNob3B8ZW58MHx8MHx8&w=1000&q=80" alt="Chicago" style="width:100%; height:100%; object-fit:cover" class="rounded">
      </div>  
    </div>

    <div class="carousel-item">
      <div class="product">
          <img src="https://static.toiimg.com/photo/msid-79836265,width-96,height-65.cms" alt="Chicago" style="width:100%; height:100%; object-fit:cover" class="rounded">
      </div>  
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>