
<div class="container">
    <form [formGroup]="cakeForm" (submit)="cakeForm.valid && addcake()">  
        <div class="form-group">
          <label for="exampleInputEmail1">Name of Cake</label>
          <input formControlName="name" class="form-control" aria-describedby="nameHelp" placeholder="Choclate cake" [(ngModel)]="cakedata.name">
          <div *ngIf="cakeForm.controls['name'].invalid && (cakeForm.controls['name'].dirty || cakeForm.controls['name'].touched)" class="alert">
            <div style=color:red *ngIf="cakeForm.controls['name'].errors.required">
            Please enter cake  name
          </div>
        </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Price</label>
          <input formControlName="price" class="form-control" aria-describedby="weightHelp" placeholder="100" [(ngModel)]="cakedata.price">
          <div *ngIf="cakeForm.controls['price'].invalid && (cakeForm.controls['price'].dirty || cakeForm.controls['price'].touched)" class="alert">
            <div style=color:red *ngIf="cakeForm.controls['price'].errors.required">
            Please enter cake price
          </div>
        </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Type of cake</label>
          <select class="form-select" formControlName="type">
              <option value="Birthday Cake">Birthday Cake</option>
              <option value="Fruit Cake">Fruit Cake</option>
              <option value="Muffin">Muffin</option>
              <option value="Sponge Cake">Sponge Cake</option>
          </select>
          <div *ngIf="cakeForm.controls['type'].invalid && (cakeForm.controls['type'].dirty || cakeForm.controls['type'].touched)" class="alert">
            <div style=color:red *ngIf="cakeForm.controls['type'].errors.required">
            Please select a type
          </div>
        </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Weight</label>
          <input formControlName="weight" class="form-control" aria-describedby="weightHelp" placeholder="Enter weight within the range of 0-5 to 5" [(ngModel)]="cakedata.weight">
          <div *ngIf="cakeForm.controls['weight'].invalid && (cakeForm.controls['weight'].dirty || cakeForm.controls['weight'].touched)" class="alert">
            <div style=color:red *ngIf="cakeForm.controls['weight'].errors.required">
            Please select a type
          </div>
        </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Ingredient</label>
          <input formControlName="ingredient" class="form-control" aria-describedby="emailHelp" placeholder="Provide comma after each item ex:item1,item2.." [(ngModel)]="cakedata.ingredient">
          <div *ngIf="cakeForm.controls['ingredient'].invalid && (cakeForm.controls['ingredient'].dirty || cakeForm.controls['ingredient'].touched)" class="alert">
            <div style=color:red *ngIf="cakeForm.controls['ingredient'].errors.required">
            Please enter ingredients
          </div>
        </div>
        </div>
        
        <div class="form-group">
          <label for="imageUrl">Upload a image</label>
          <div class="d-flex">
            <input  type="file" (change)="getFile($event)">
            <button class="btn btn-outline-success" (click)="upload()">Upload</button>
          </div>
        </div>

        <div class="form-group">
            <div>
              <input id="male" type="radio" value="eggless" name="eggless" formControlName="eggless">
                 <label for="male">Eggless</label>
            </div>
          
            <div>
              <input id="female" type="radio" value="egg" name="eggless" formControlName="eggless">
                <label for="female">Egg</label>
              </div>
              <div *ngIf="cakeForm.controls['eggless'].invalid && (cakeForm.controls['eggless'].dirty || cakeForm.controls['eggless'].touched)" class="alert">
                <div style=color:red *ngIf="cakeForm.controls['eggless'].errors.required">
                Please enter the description
              </div>
            </div>
          </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="cakedata.description"></textarea>
            <div *ngIf="cakeForm.controls['description'].invalid && (cakeForm.controls['description'].dirty || cakeForm.controls['description'].touched)" class="alert">
              <div style=color:red *ngIf="cakeForm.controls['description'].errors.required">
              Please enter the description
            </div>
          </div>
          </div>

          <button style="margin-top:1em" type="submit" class="btn btn-primary">Submit</button>
      </form>
      
</div>
